.aboutUs {
    width: 98.8vw;
    height: 100vh;
    margin-top: 11.46vh;
    display: flex;

}

.aboutText {
    // width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0F1F1;

}

.aboutUs__img {
    overflow: hidden;
}


.aboutText__title {
    font-family: $font-base;
    font-size: 2.375em;
    font-weight: 400;
    color: #3C3C3C;
    margin-bottom: 5.7vh;
}

.aboutText__text {
    margin-top: 8.9vh;
    font-family: $font-base;
    font-size: 1.87em;
    font-weight: 400;
    color: #3C3C3C;
    letter-spacing: -0.1vh;
    text-align: center;
    width: 29.99vw;
    line-height: 7.7vh;
}

.aboutText__signature {
    width: 16vw;
    height: 21vh;
    margin-top: 5.7vh;
    margin-left: 30vw;
}