.contact__back {
    background-color: rgba($color: white, $alpha: 0.8);
    height: 100vh;
    width: 100%;
}

.contact {
    background-image: url("../assets/Background-Contact-Form.jpg");
    background-size: cover;
    height: 100vh;
    width: 98.8vw;
}



.contact__form {
    height: 96%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $font-base;
    color: #3C3C3C;
    font-size: 2.375rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-right: 21%;
    transform: translate(50%, 0);
    text-align: center;
}

.person {
    display: flex;
    justify-content: space-between;
    margin-top: 8.2vh;
    margin-bottom: 4.1vh;
    font-family: $font-base;
    font-size: 1rem;
    text-align: left;
}

.message__text {
    font-family: $font-base;
    font-size: 1rem;
    text-align: left;

    textarea {
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        height: 10vh;
        font-family: $font-base;
        font-size: 1.125rem;
        resize: none;
    }
}



input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 14vw;
    font-family: $font-base;
    font-size: 1.125rem;
}

.contact__btn {
    font-family: $font-base;
    font-size: 1.125rem;
    background: none;
    margin-top: 4vh;
    width: 8vw;
    height: 6vh;
    border: 0.14vh solid #3C3C3C;
    cursor: pointer;
}

.contact__btn-position {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

button:focus {
    outline: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-base;
    font-size: 1.125rem;
    color: #3C3C3C;
}

.footer__img1 {
    position: absolute;
    right: 9vw;
    transform: translate(0, -50%);
}

.footer__img2 {
    position: absolute;
    right: 6.4vw;
    transform: translate(0, -50%);
}

.errorStyle {
    color: red;

}