.header {
    display: flex;
    justify-content: space-between;
}

.navPhoto {
    background-image: url("../assets/Home-Hero-Image.jpg");
    height: 98.47vh;
    width: 46.1vw;
    background-position: right;
    background-size: cover;
}

.navLog {
    display: flex;
    flex-direction: column;
    margin: 5.3vh 4vw 0 0;

}

.login {
    display: flex;
    justify-content: flex-end;
    color: #737373;
    font-family: $font-base;
    font-size: 0.875rem;
    height: 2.81vw;
}

.login__log {
    margin-left: 1.48vh;
    width: 12.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.11vh solid white;

    &:hover {
        border: 0.11vh solid #FAD648;
    }

}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation__nav {
    height: 6vh;
    width: 7.5vw;
    font-family: $font-base;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3C3C3C;
    margin: 1.3vh 0 1.3vh 4.3vw;
    border: 0.11vh solid white;

    &:hover {
        border: 0.11vh solid #3C3C3C;
    }
}

.goHelp {
    margin-top: 15.3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goHelp__position {
    width: 51vw;
    font-size: 2.3rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.76px;
    font-family: $font-base;
    text-align: center;
    color: #3C3C3C;
    line-height: 7.8vh;
}

.goHelp__img {
    margin-top: 3.6vh;
}

.goHelp__btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 66px;
}

.goHelp__btn-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $font-base;
    font-size: 36px;
    font-weight: 300;
    color: #3C3C3C;
    border: 0.75px solid #3C3C3C;
    text-align: center;
    width: 18vw;
    height: 12.3vh;
}

.statistic {
    width: 98.8vw;
}