.logForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 98.8vw;
    height: 100vh;

    & > div:nth-child(4) > div > button {
        background: none;
        border: 1px solid white;
        font-family: $font-base;
        color: #3c3c3c;

        &:hover {
            border: 1px solid #3c3c3c;
        }
    }
    & > div:nth-child(4) > div > a {
        font-family: $font-base;
        color: #3c3c3c;
        border: 1px solid white;
        &:hover {
            border: 1px solid #3c3c3c;
        }
    }
}

.logForm__title {
    font-family: $font-base;
    font-size: 2.375rem;
    color: #3c3c3c;
    margin: 7vh 0 3vh 0;
}

.logFormInput {
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    font-family: $font-base;
    font-size: 1rem;
    background-color: #f0f1f1;
    color: #3c3c3c;

    input {
        background: none;
    }
}

.logFormInput__input {
    margin-top: 4vh;
    left: 0;
}

.logForm__btn {
    width: 53vw;
    display: flex;
    justify-content: space-around;
    font-family: $font-base;
    color: #3c3c3c;
}
