.stepBtn {
    height: 15.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.stepBtn__btn {
    margin: 35px 0;
    font-family: $font-base;
    font-size: 36px;
    font-weight: 200;
    color: #3C3C3C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.75px solid #3C3C3C;
    width: 16vw;
    height: 12vh;
}