.whoWeHelp {
    margin: 7.15vh 0 7.17vh 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-base;
    font-size: 39px;
    letter-spacing: -0.76px;
    color: #3C3C3C;
}

.whoWeHelpBtn {

    margin: 62px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.whoWeHelpBtn__style {
    height: 10vh;
    width: 15vw;
    border: 1px solid white;
    font-family: $font-base;
    font-size: 24px;
    color: #3C3C3C;
    background: none;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        border: 1px solid #3C3C3C;
    }

    &:focus {
        border: 1px solid #3C3C3C;
    }

}

.foundations,
.organizations,
.collections {
    display: flex;
    justify-content: center;
    align-items: center;

}

.foundations__text,
.organizations__text,
.collections__text,
    {
    width: 50vw;
    text-align: center;
    font-family: $font-base;
    font-size: 1.375rem;
    color: #3C3C3C;
}