.header {
    display: flex;
    justify-content: space-between;
}

.navPhoto {
    background-image: url("../assets/Home-Hero-Image.jpg");
    height: 98.47vh;
    width: 46.1vw;
    background-position: right;
    background-size: cover;
}

.navLog {
    display: flex;
    flex-direction: column;
    margin: 37px 142px 0 0;

}

.login {
    display: flex;
    justify-content: flex-end;
    color: #737373;
    font-size: 14px;
    height: 36px;
}

.login__log {
    margin-left: 19px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.75px solid white;

    &:hover {
        border: 0.75px solid #FAD648;
    }

}

.navigation {
    display: flex;
}

.navigation__nav {
    height: 42px;
    min-width: 80px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C3C3C;
    margin: 9px 0 9px 55px;
    border: 0.75px solid white;

    &:hover {
        border: 0.75px solid #3C3C3C;
    }
}

.goHelp {
    margin-top: 15.3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goHelp__position {
    width: 674px;
    font-size: 38px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.76px;
    color: #3C3C3C;
    line-height: 55px;
}

.goHelp__img {
    margin-top: 25px;
}

.goHelp__btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 66px;
}

.goHelp__btn-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 36px;
    font-weight: 300;
    color: #3C3C3C;
    border: 0.75px solid #3C3C3C;
    text-align: center;
    width: 20vw;
    height: 12.3vh;
}

.statistic {
    width: 98.8vw;
}